@import "foundation/all";

.ds-select {
    display: flex;
    flex-direction: column;
    position: relative;

    &__label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // @include padding("xs");
        padding: map-get($spacing, "xs") map-get($spacing, "sm");
        border: 1px solid $form-border-color;
        background: $form-bg-color;
        font-family: $body-font-family;
        cursor: pointer;
    }

    &__overlay {
        padding: 0;
        margin: 0;
        border: 1px solid $form-border-color;
        background-color: $form-bg-color;
        z-index: 99;
        position: absolute;
        width: 100%;
    }

    &__option {
        padding: 0;
        margin: 0;
        cursor: pointer;
    }
}